*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.nav{
    height: 50px;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

button{
    padding: 10px 20px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active{
    scale: 0.97;
}

