*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#nav h3{
    font-size: 17px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;

}

#nav i{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;

}

#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;


}

#tooth{

    background-color: rgb(239, 103, 53);
    color: white;    
}



#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;

   
}
#coloured-btn{
    border: none;
    color: white;
    background-color: orangered;
    
}
#main>h1{
    font-size: 180px;
    text-transform: capitalize;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);

    
}

#img1{
    transform: translate(-50%,-50%)  rotate(-30deg);       
}
#img2{
    transform: translate(-50%,-50%)  rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%)  rotate(-10deg);
}


#btm-left{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
    
}

#btm-right{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    bottom: 5%;
    right: 3%;
    font-size: 17px;
}

#insta{
    background-color: lightyellow;
    position: absolute;
    bottom: 8.5%;
    left: 86.5%;
    font-size: 20px;
}

#fb{
    background-color: lightyellow;
    position: absolute;
    bottom: 8.5%;
    left: 89.5%;
    font-size: 20px;
    
}

#yt{
    background-color: lightyellow;
    position: absolute;
    bottom: 8.5%;
    left: 92.5%;
    font-size: 20px;
}
#msg{
    background-color: lightyellow;
    position: absolute;
    bottom: 8.5%;
    left: 95.5%;
    font-size: 20px;
}

#arrow{
    position: absolute;
    bottom: 0.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}